[submodule "7-segment-clock/components/esp-idf-pca9685"]
	path = 7-segment-clock/components/esp-idf-pca9685
	url = https://github.com/povilas-ohd/esp-idf-pca9685.git
[submodule "components/esp-idf-ds1307"]
	path = components/esp-idf-ds1307
	url = https://github.com/nopnop2002/esp-idf-ds1307.git
